.App {
  font-family: sans-serif;
  text-align: center;
}

.ClickParagraph h2 {
  color: rebeccapurple;
  text-align: center;
  font-family: sans-serif;
}

.ClickParagraph p {
  color: green;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.StopWatch {
  text-align: center;
}
